<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %d %C{2} (%F:%L) - %m%n"/>
    </Console>
    <File name="FileAppender" fileName="logs/tracker-${date:yyyyMMdd}.log" immediateFlush="true" append="true">
      <PatternLayout pattern="%-5p %d %C{2} - %m%n"/>
    </File>
  </Appenders>
  <Loggers>
  	<Logger name="com.ecec.rweber.time.tracker" level="INFO" additivity="false">
    	<AppenderRef ref="FileAppender"/>
    </Logger>
    
    <Root level="ERROR">
        <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>